/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: 'IBM Plex mono';
  --heading-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --bg-image: url(../images/cover-image-dark.png);
  --heading-color: #db00ff;
  --accent-color: #ff0070;
  --title-text-color:#000;
  --text-foont-size: 18px;
  --text-color: #F1B2CE;
  --bg-color: #000;
  --heading-text-color:#ff0070;
  --padding-decorated-zone: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  --padding-page: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  --rec-block-start: clamp(0.6875rem, 0.0911rem + 2.5445vw, 1.3125rem);
  --rec-inline-end: clamp(1.1875rem, 0.5911rem + 2.5445vw, 1.8125rem);
  --color-decorated: #353430;
  --text-menu-color:  #F1B2CE;
  --text-shadow-color: #ff0070;;
  /* --bg-color: #f2f2f2;
  --text-color: #000;
  --article-bg-color: #6dc1fd;
  --author-bg-color: #1e1e1e;
  --author-text-color: #fff;
  --h2-font-size: clamp(1.875rem, 1.6607rem + 0.9524vw, 2.375rem);
  --h3-font-size: clamp(1.5rem, 1.3125rem + 0.8333vw, 1.9375rem); */
}

@media (width >= 768px) {
  :root {
    --heading-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

  }
}