/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url(../images/cover-image-dark.png);
  --font-family: 'IBM Plex mono';
  --text-foont-size: 18px;
  --heading-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --padding-decorated-zone: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  --padding-page: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  --rec-block-start: clamp(0.6875rem, 0.0911rem + 2.5445vw, 1.3125rem);
  --rec-inline-end: clamp(1.1875rem, 0.5911rem + 2.5445vw, 1.8125rem);
  --text-color: #F1B2CE;
  --heading-color: #db00ff;
  --bg-color: #000;
  --title-text-color:#000;
  --accent-color: #ff0070;
  --heading-text-color:#ff0070;
  --color-decorated:  #FF0070;
  --text-menu-color: #FF0070;
  --text-shadow-color: #ff0070;;
}

@media (width >= 768px) {
  :root {
    --heading-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}